#mainhead{
    margin-left: 20px;
    width: 100%;
}
#formmain{
    background-color: white;
    border-radius: 20px;
    display: flex;
    height: 200px;
    font-size:20px;
    width: 90%;
}
#formlabel{
    color: white;
    font-size: 30px;
}
#formclub{
    display: flex;
    margin: 10px;
    text-align: center;
    width: 100%;
}
#formclubinfo{
    margin-left: 10px;
}
#frontimage{
    width: 80px;
    height: 80px;
}
#formdate{
    text-align: right;
    margin: 10px;
}
#formleft{
    width: 60%;
    text-align: left;
    margin-left: 20px;
}
#formright{
    width: 40%;
    margin-right: 10px;
}
#formhowmany{
    text-align: right;
    font-size: 35px;
}
#formbutton{
    background-color: black;
    color: white;
    border: none;
    width:  120px;
    height: 40px;
    margin-top: 35px;
    margin-left: 15px;
}