#formmain{
    background-color: white;
    border-radius: 10px;
    display: flex;
    min-height: 20vh;
    width: 40vw;
    font-size:20px;
    
}
#formlabel{
    color: white;
    font-size: 30px;
}
#formclub{
    display: flex;
    margin: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
#formclubinfo{
    margin-left: 10px;
}
#frontimage{
    width: 80px;
    height: 80px;
}
#formdate{
    text-align: right;
    margin: 10px;
}
#formleft{
    width: 60%;
    text-align: left;
    margin-left: 20px;
}
#formright{
    width: 40%;
    margin-right: 10px;
}
#formhowmany{
    text-align: right;
    font-size: 35px;
}
#formbutton{
    background-color: black;
    color: white;
    border: none;
    width:  120px;
    height: 40px;
    margin: auto;
    
}
#srBox
{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
}
#srWindow
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 600px;
    width: 1000px;
    background-color: #ffffff;
    border: 10px solid black;
    border-radius: 25px;
}
#srTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D32020;
    font-size: 24px;
    font-weight: 700;
    height: 15%;
}
#srTitleRow
{
    display: flex;
}
#srTitleRow > .srCell
{
    font-weight: 700;
}
#srTable
{
    width: 90%;
    height: 450px;
    overflow: auto;
}
.srRow
{
    display: flex;
    border: 2px solid black;
}
.srCell
{
    width: 16.67%;
    text-align: center;
}
#srExit
{
    position: fixed;
    top: 10%;
    left: 20%;
}
@media only screen and (max-width: 800px) {
    #srExit
    {
        position: fixed;
        left: 5%;
    }
    #formmain
    {
        width: 80vw;
    }
}