#tableligblock{
    width: 40vw;
    height: 35vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
}
#tableligleftdiv{
    width: 40%;
}
#tableligrightdiv{
    width: 60%;
    background-color: lightgray;
    border-radius: 10px;
}
#tableligbutton{
    border-radius: 10px;
    border: none;
    width: 80%;
    height: 60px;
}
@media only screen and (max-width: 800px) {
    #tableligblock{
        width: 80vw;
    }
}