#teamphotoblock{
    width: 40vw;
    height: 52vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tableligimg{
    width: 38vw;
    height: 50vh;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    #teamphotoblock{
        width: 80vw;
    }
    #tableligimg{
        width: 78vw;
    }
}