
#listOfPlayers_CV {
    height: 68.5vh; /* Set a fixed height to limit the vertical size */
    align-self: flex-start;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Ensure items are stacked vertically */
    justify-content: flex-start; /* Align items to the top */
}

.copy_CV {
    background-color: #e53935;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    height: 40%;
    width: 30%;
    margin-left: 15%;
}

.addPlayerCard_CV {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 10vh;
    border-radius: 20px;
    justify-content: flex-start;
}

.playerCard_CV {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 10vh;
    border-radius: 20px;
    justify-content: space-between;
}

#profPhoto_CV{
    width: auto;
    height: 10vh;
    margin: 1vh;
    background-color: gray;
}

.playerName_CV {
    margin-right: 10px;
}

.editButton_CV {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.copy_CV:hover {
    background-color: #922523;
}

.copy_CV:active {
    background-color: #661817;
}

.icon-plus-alternative {
    font-size: 250%;
    border: 4px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-right: 3%;
}

.playerCard_CV:hover {
    background-color: gainsboro;
}