#playerStatisticsPane_CV {
    margin-bottom: 20px;
    width: 100%;
    justify-content: flex-start;
}

#dataBoxStatisticsPane_CV {
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 20px;
    height: 35vh;
    min-height: 27.5vh;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 1vh 0.5vw 1vh 0.5vw;
    justify-content: space-between;
    box-shadow: 1vw 1.6vh 1vw 0.7vh rgba(88, 9, 9, 1);
}

#whiteFont {
    color: white;
}