
#listOfPlayers_CV {
    height: 68.5vh;
    align-self: flex-start;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* WebKit Browsers (Chrome, Safari) */
#listOfPlayers_CV::-webkit-scrollbar {
    width: 0.8vw;
}

#listOfPlayers_CV::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0.4vw 0.6vh 0.4vw 0.25vh rgba(88, 9, 9, 1);
}

#listOfPlayers_CV::-webkit-scrollbar-thumb {
    background-color: #e53935; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #ffffff; /* Padding around the thumb */
}

#listOfPlayers_CV::-webkit-scrollbar-thumb:hover {
    background-color: #922523; /* Color on hover */
}

#listOfPlayers_CV::-webkit-scrollbar-button {
    display: none; /* Hides the up and down arrows */
}

/* Firefox specific styles */
@-moz-document url-prefix() {
    #listOfPlayers_CV {
        scrollbar-width: thin; /* Thin scrollbar */
        scrollbar-color: #e53935 #ffffff; /* Thumb and track colors */
    }
}

.copy_CV {
    background-color: #e53935;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    height: 40%;
    width: 30%;
    margin-left: 15%;
}

.addPlayerCard_CV {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 10vh;
    border-radius: 20px;
    justify-content: flex-start;
    box-shadow: 0.5vw 0.8vh 0.5vw 0.35vh rgba(88, 9, 9, 1);
}

.playerCard_CV {
    background-color: #ffffff;
    padding: 10px;
    margin-right: 0.5vw;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    height: 10vh;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 0.5vw 0.8vh 0.5vw 0.35vh rgba(88, 9, 9, 1);
}

#logoPhotoAdmin{
    width: auto;
    height: 10vh;
    margin: 1vh;
    background-color: gray;
}

.playerName_CV {
    margin-right: 10px;
}

.editButton_CV {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.copy_CV:hover {
    background-color: #922523;
}

.copy_CV:active {
    background-color: #661817;
}

.icon-plus-alternative {
    font-size: 250%;
    border: 4px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-right: 3%;
}

.playerCard_CV:hover {
    background-color: gainsboro;
}