#playerEquipmentPane_CV {
    width: 100%;
}

#whiteFont {
    color: white;
}

.eq_CV {
    flex-grow: 1;
    font-weight: 700;
}


#scrollBoxCV {
    background-color: white;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 25vh;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 1vh 0.5vw 1vh 0.5vw;
    justify-content: space-between;
    box-shadow: 1vw 1.6vh 1vw 0.7vh rgba(88, 9, 9, 1);
}