#playerStatisticsPane
{
    min-height: 27.5vh;
    width: 35vw;
    background-color: white;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 5vh 2.5vw 5vh 2.5vw;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    #playerStatisticsPane{
        width: 75vw;
    }
}