#rentedEquipmentPane
{
    min-height: 35.5vh;
    width: 35vw;
    background-color: white;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 1vh 2.5vw 1vh 2.5vw;
    justify-content: center;
}
#scrollBox{
    background-color: white;
    height: 200px;
    overflow-y: auto;
}

@media only screen and (max-width: 800px) {
    #rentedEquipmentPane{
        width: 75vw;
    }
}