#rentedEquipmentPaneLarge
{
    min-height: 70vh;
    width: 35vw;
    background-color: white;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
    justify-content: center;
}
#scrollBoxB{
    background-color: white;
    height: 450px;
    overflow-y: auto;
}
.rEqButton
{
    display: flex;
    width: 100px;
    height: 35px;
    background-color: rgb(214, 15, 15);
    color: white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 10px;
}
.rEqButton:hover
{
    cursor: pointer;
    background-color: white;
    color: rgb(240, 0, 0);
}
.rInfoBtn
{
    display: flex;
    width: 250px;
    height: 35px;
    background-color: rgb(214, 15, 15);
    color: white;
    font-weight: 700;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 10px;
    padding-left: 10px;
}
/* .rInfoBtn:hover
{
    cursor: pointer;
    background-color: white;
    color: rgb(240, 0, 0);
} */


@media only screen and (max-width: 800px) {
    #rentedEquipmentPaneLarge{
        width: 75vw;
    }
}