#availableEquipmentPane
{
    min-height: 70vh;
    width: 35vw;
    background-color: white;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
    justify-content: center;
}
#scrollBoxA{
    background-color: white;
    /* height: 450px; */
    overflow-y: auto;
}
.bStyle{
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    #availableEquipmentPane{
        width: 75vw;
    }
}