@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  background-color:#D32020;
}

.calendar {
  border-radius: 20px;
  min-height: 45vh;
  width: 40vw;
  background-color:#F9F1F1;
  font-family: 'Inter';
  font-size: 21.26px;
  text-align: center;
}

.calendar p {
  color: #D32020;
}

.table_days {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table_days td {
  height: 32px;
  width: 32px;
  vertical-align:middle;
}

.week {
  color:#B3B3B3;
}

.day {
  color:#000000;
  font-weight: bold;
}

.days {
  color:#B3B3B3;
  font-weight: bold;
}