@import url('https://fonts.googleapis.com/css?family=Inter');

/* CalendarComponent.css */

.react-calendar {
  border-radius: 10px;
  min-height: 45vh;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #a0a096;
  font-family: 'Inter';
  font-size: 21.26px;
  line-height: 1.125em;
  float: right;
  text-align: center;
  line-height: 70px;
}

.react-calendar__month-view__days__day {
  font-size: 21.26px;
  font-family: 'Inter';
}

.react-calendar__month-view__weekdays {
  text-transform: capitalize;
  font-weight: bold;
}

.react-calendar__tile {
  height: 32px;
  width: 32px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  color: #B3B3B3;
  background-color: #FFFFFF;
  border: none;
}

.react-calendar__tile:enabled:hover {
  color: #000000;
}

.react-calendar__navigation button {
  font-family: 'Inter';
  font-size: 21.26px;
  color: #D32020;
  min-width: 44px;
  background: none;
  border: none;
  text-transform: capitalize;
  padding: 20px;
}

.react-calendar__navigation button:enabled:hover {
  background: none;
  border: none;
  color: #000000;
  font-weight: bold;
}

/* CalendarPopup.css */

.calendar_popup {
  border-radius: 20px;
  height: 407px;
  width: 474px;
  background-color: #FFFFFF;
  display: block;
  margin: 0 auto;
  transform: translate(-80%, 40%);
  border: solid black 10px;
  z-index: 1;
  position: absolute;
  left: 60%;

  -webkit-box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
  -moz-box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
  box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
}

.button {
  position: fixed;
}

.close {
  cursor: pointer;
  background: none;
  border-radius: 20px;
  background-color: #000000;
  border: none;
}

.close:hover {
  border-radius: 20px;
  background-color: #F9F1F1;
  cursor: pointer;
  border: none;
}

.trainings {
  border-radius: 20px;
  height: 58px;
  width: 301px;
  background-color: #D60F0F;
  color: #F9F1F1;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Inter';
  position: fixed;
  top: 30%;
  left: 30%;
}

.matches {
  border-radius: 20px;
  height: 58px;
  width: 301px;
  background-color: #D60F0F;
  color: #F9F1F1;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Inter';
  position: fixed;
  top: 55%;
  left: 30%;
}

.sport_events_text {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Inter';
  color: #D60F0F;
  position: fixed;
  top: 7%;
  left: 35%;
}

.current_day {
  border-radius: 20px;
  width: 113px;
  height: 40px;
  background-color: #D60F0F;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Inter';
  text-align: center;
  line-height: 2.5rem;
  position: fixed;
  top: 5%;
  left: 71%;
}

.image_training {
  position: fixed;
  top: 28%;
  left: 5%;
}

.image_ball {
  position: fixed;
  top: 54%;
  left: 5%;
}

.sub {
  position: relative;
  top: 33%;
  left: 5%;
}

.sub1 {
  position: fixed;
  left:77%;
}

.sub2 {
  position: fixed;
  bottom: 6%;
  left: 36.5%;
}

.add_button {
  height: 3rem;
  line-height: 3rem;
  width: 180px;
  border-radius: 20px;
  color: #F9F1F1;
  background-color: #D60F0F;
  border: none;
  font-family: 'Inter';
  font-size: 16px;
  position: fixed;
  top: 80%;
  left: 32%;
}

.add_button:hover {
  border-radius: 20px;
  color: #D60F0F;
  background-color: #F9F1F1;
  font-family: 'Inter';
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .calendar_popup {
    border-radius: 20px;
    height: 407px;
    width: 474px;
    background-color: #FFFFFF;
    display: block;
    margin: 0 auto;
    transform: translate(-80%, 40%);
    border: solid black 10px;
    z-index: 1;
    position: absolute;
    left: 70%;
  }
}

/* AddEventsPopup.css */

.popup {
  width: 690px;
  height: 595px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 10px #000000 solid;
  z-index: 2;
  transform: translate(-70%, 12%);
  position: absolute;
  left: 60%;

  -webkit-box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
  -moz-box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
  box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
}

.close {
  cursor: pointer;
  background: none;
  border-top-left-radius: 20px;
  background-color: #FFFFFF;
  border: none;
}

.close:hover {
  border-radius: 20px;
  background-color: #F9F1F1;
  cursor: pointer;
  border: none;
}

.title {
  font-family: 'Inter';
  font-size: 15px;
  color: #D60F0F;
  text-align: center;
  position: fixed;
  top: 2%;
  left: 33%;
}

.description {
  font-family: 'Inter';
  font-size: 14px;
  color: #000000;
  line-height: 100px;
  position: fixed;
  top: 15%;
  left: 8%;
}

.button_date {
  background-color: #D9D9D9;
  width: 282px;
  height: 70px;
  border-radius: 20px;
  position: fixed;
  top: 21%;
  left: 52%;
}

.button_hour {
  background-color: #D9D9D9;
  width: 282px;
  height: 70px;
  border-radius: 20px;
  position: fixed;
  top: 41%;
  left: 52%;
}

.button_name {
  background-color: #D9D9D9;
  width: 412px;
  height: 70px;
  border-radius: 20px;
  position: fixed;
  top: 61%;
  left: 33%;
}

.button_reject {
  background-color: #9F9393;
  width: 144px;
  height: 50px;
  position: fixed;
  left: 20%;
  top: 80%;
}

.button_accept {
  background-color: #9F9393;
  width: 144px;
  height: 50px;
  position: fixed;
  left: 60%;
  top: 80%;
}

@media only screen and (max-width: 800px) {
  .popup {
    width: 690px;
    height: 595px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 10px #000000 solid;
    z-index: 2;
    transform: translate(-70%, 12%);
    position: absolute;
    left: 70%;
  }
}
