@import url('https://fonts.googleapis.com/css?family=Inter');

.calendar_popup{
    border-radius:20px;
    height:407px;
    width:474px;
    background-color:#FFFFFF;
    display: block;
    margin: 0 auto;
    position: relative;
    transform: translate(-100%, 30%);
    border: solid black 1px
  }
  
  .button{
    transform: translate(5%,-78%);
  }

  .contents{
    transform: translate(0%, -70%);
  }
  
  .close0{
    cursor:pointer;
    background:none;
    border:none;
  }

  .close:hover{
    border-top-left-radius: 20px;
    cursor:pointer;
    background-color:#F9F1F1;
    border:none;
  }

  .trainings{
    border-radius: 20px;
    height:58px;
    width:301px;
    background-color:#D60F0F;
    color:#F9F1F1;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter';
    position:relative;
    left:130px;
    top:-180px;
  }

  .matches{
    border-radius: 20px;
    height:58px;
    width:301px;
    background-color:#D60F0F;
    color:#F9F1F1;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter';
    position:relative;
    left:130px;
    top: -200px;
  }

  .sport_events_text{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Inter';
    color:#D60F0F;
    position:relative;
    left:160px;
    top:-70px;
  }

  .current_day{
    border-radius:20px;
    width:113px;
    height:40px;
    background-color: #D60F0F;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    position: relative;
    left: 330px;
    top: -125px;
    text-align:center;
    line-height:2.5rem;
  }

  .image_ball{
    position: relative;
    top:-110px;
    left:30px;
  }

  .image_training{
    position: relative;
    top:-95px;
    left:30px;
  }

  .sub{
    position: relative;
    top:10px;
    left:10px;
  }

  .add_button{
    height:3rem;
    line-height:3rem;
    width: 180px;
    border-radius:20px;
    color:#F9F1F1;
    background-color: #D60F0F;
    border: none;
    font-family: 'Inter';
    font-size: 16px;
    position: relative;
    top: -150px;
    left: 160px;
  }

  .add_button:hover{
    border-radius:20px;
    color:#D60F0F;
    background-color:#F9F1F1;
    font-family: 'Inter';
    font-size: 16px;
    position: relative;
    top: -150px;
    left: 160px;
  }