@import url('https://fonts.googleapis.com/css?family=Inter');

.calendar_popup{
  border-radius:20px;
  height:407px;
  width:474px;
  background-color:#FFFFFF;
  display: block;
  margin: 0 auto;
  transform: translate(-80%, 40%);
  border: solid black 10px;
  z-index: 1;
  position: absolute;
  left: 60%;
}

.button{
  position:fixed;
}
  
.close{
  cursor:pointer;
  background:none;
  border-radius: 20px;
  background-color:#000000;
  border:none;
}

.close:hover{
  border-radius: 20px;
  background-color:#F9F1F1;
  cursor:pointer;
  border:none;
}

.trainings{
  border-radius: 20px;
  height:58px;
  width:301px;
  background-color:#D60F0F;
  color:#F9F1F1;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Inter';
  position: fixed;
  top: 30%;
  left: 30%;
}

.matches{
  border-radius: 20px;
  height:58px;
  width:301px;
  background-color:#D60F0F;
  color:#F9F1F1;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Inter';
  position: fixed;
  top: 55%;
  left: 30%;
}

.sport_events_text{
  font-size: 23px;
  font-weight: bold;
  font-family: 'Inter';
  color:#D60F0F;
  position:fixed;
  top:5%;
  left:35%;
}

.current_day{
  border-radius:20px;
  width:113px;
  height:40px;
  background-color: #D60F0F;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Inter';
  text-align:center;
  line-height:2.5rem;
  position:fixed;
  top:4%;
  left:70%;
}

.image_training{
  position: fixed;
  top:28%;
  left:5%;
}

.image_ball{
  position: fixed;
  top:54%;
  left:5%;
}

.sub{
  position: relative;
  top: 30%;
  left: 5%;
}

.add_button{
  height:3rem;
  line-height:3rem;
  width: 180px;
  border-radius:20px;
  color:#F9F1F1;
  background-color: #D60F0F;
  border: none;
  font-family: 'Inter';
  font-size: 16px;
  position:fixed;
  top: 80%;
  left:32%;
}

.add_button:hover{
  border-radius:20px;
  color:#D60F0F;
  background-color:#F9F1F1;
  font-family: 'Inter';
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .calendar_popup{
    border-radius:20px;
    height:407px;
    width:474px;
    background-color:#FFFFFF;
    display: block;
    margin: 0 auto;
    transform: translate(-80%, 40%);
    border: solid black 10px;
    z-index: 1;
    position: absolute;
    left: 70%;
  }
}