label{
    text-align: left;
}
#text{
    text-align: left;
}
#ButtonLogin{
    border:none;
    background: transparent;
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    transition: 1s;
}
#ButtonLogin:hover{
    font-size: 35px;
    transition: 1s;
}
#divLogin{
    color:white;
    font-size: 35px;
    width: 25%;
    min-width: 317px;
    text-align: center;
    margin: auto;
    margin-top: 230px;
}
#formLogin{
    border-radius: 8px;
    height: 260px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color:black;
    background: white;
}
#formLoginzle{
    border-radius: 8px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color:black;
    background: white;
}

.inputfield{
    position: relative;
    justify-content: center;
    margin: 0px;
}
p{
    margin: 0px;
    margin-bottom: 10px;
}
.inputfield>input{
    margin: 0px;
}
.Name{
    float:left;
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 7%;
    margin-top: 10px;
}
#textlogin{
    margin-bottom: 0px;
}
#ilogin{
    margin-left: 5px;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    position: relative;
    top: -2px;
    height: 45px;
    border-radius: 20px;
    border:transparent;
    background: lightgray;
}
#ilogin:hover,#ipassword:hover{
    border:solid black 1px;
    border-radius: 20px;
}
#ipassword{
    margin-left: 5px;
    width: 90%;
    text-align: center;
    font-size: 25px;
    height: 45px;
    margin-top:0px;
    position: relative;
    top: -5px;
    border-radius: 20px;
    border: none;
    background: lightgray;
    appearance: none;
    margin-bottom: 0px;
}
#nipassword{
    margin-left: 5px;
    width: 90%;
    text-align: center;
    font-size: 25px;
    height: 45px;
    margin-top:0px;
    position: relative;
    top: -5px;
    border-radius: 20px;
    border: 2px solid red;
    background: #faa59d;
    appearance: none;
    margin-bottom: 0px;
}
#nilogin{
    margin-left: 5px;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    position: relative;
    top: -2px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid red;
    background: #faa59d;
}
#nilogin:hover,#nipassword:hover{
    border:solid red 1px;
    border-radius: 20px;
}
#prz_haslo{
    position: relative;
    border: none;
    font-size: 15px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}
#prz_haslo:hover{
    color: blueviolet;
}

#blogin{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
#wiadomosc{
    font-size: 20px;
    color: tomato;
}
@media(max-width:512px){
    #divLogin{
        width:317px;
    }
}
