
#box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 10vh;
}
#bar
{
    height: 80vh;
    width: 10vw;
    display: flex;
    justify-content: center;
}
#leftSide{
    height: 80vh;
    width: 40vw;
}
#rightSide{
    height: 80vh;
    width: 40vw;
}
#survBox
{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
}
#survWindow
{
    height: 500px;
    width: 400px;
    background-color: #ffffff;
    border: 10px solid black;
    border-radius: 25px;
}
#survTitle
{
    display: flex;
    justify-content: center;
    color: #D32020;
}
#survInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.survOption
{
    background-color: #D32020;
    height: 60px;
    width: 70%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#survButtons
{
    display: flex;
    justify-content: space-evenly;
}
.survBtn{
    color: #000000;
    background-color: #9F9393;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.survBtn:hover
{
    cursor: pointer;
    background-color: #6e6565;
}
.headers{
    height: 4vh;
    font-weight: 600;
    color: white;
    margin-top: 1vh;
    margin-left: 1vh;
}

.calHeader{
    display: none;
}
#bottom{
    display: none;
}

@media only screen and (max-width: 800px) {
    #box{
        flex-direction: column;
    }
    #leftSide{
        height: 80vh;
        width: 80vw;
    }
    #rightSide{
        height: 80vh;
        width: 80vw;
    }
    .calHeader{
        display: block;
    }
    #bar{
        position: fixed;
        bottom: 0%;
        background-color: #D32020;
        height: 100px;
        width: 100vw;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #bottom{
        display: block;
        height: 150px;
        width: 100%;
        background-color: #D32020;
    }
}