#navPane
{
    width: 90px;
    height: 80vh;
    background-color: white;
    border-radius: 10px ;
    box-shadow: 1vw 1.6vh 1vw 0.7vh rgba(88, 9, 9, 1);
}
.buttons
{
    max-width: 100px;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.buttons> img{
    padding-top: 30px;
}
.buttons:hover
{
    cursor: pointer;
    background-color: gainsboro;
}
.buttons:first-child:hover
{
    border-radius: 10px 10px 0px 0px;
}
.buttons:nth-child(4):hover
{
    border-radius: 0px 0px 10px 10px;
}
.icon-home
{
    font-size: 300%;
}
.icon-user
{
    font-size: 300%;
}
.icon-users
{
    font-size: 300%;
}
.icon-soccer-ball
{
    font-size: 300%;
}
@media only screen and (max-width: 800px) {
    #navPane
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        background-color: white;
        border-radius: 10px ;
    }
    .buttons
    {
        width: 18vh;
        height: 100px;
        text-align: center;
        justify-content: center;   
    }
    .buttons> img{
        width: 60%;
        padding-top: 5%;
    }
    .buttons:hover
    {
        background-color: gainsboro;
    }
    .buttons:first-child:hover
    {
        border-radius: 10px 0px 0px 10px;
    }
    .buttons:nth-child(4):hover
    {
        border-radius: 0px 10px 10px 0px;
    }
}