#registrationformmain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#registrationformstart{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#registrationforminformation{
    display: flex;
    text-align: left;
}

#registrationformform{
    text-align: center;
    width: 810px;
}
.registrationformlabel{
    text-align: left;
    font-size: 20px;
    margin-left: 12%;
    width: 30%;
}
#registrationformtitle{
    color: white;
    font-size: 40px;
}
#registrationformbuttonmove,#registrationformbuttonreg,#registrationformbuttonsave{
    border: none;
    color: white;
    background-color: transparent;
    font-size: 30px;
    transition: 1s;
}
#registrationformbuttonmove:hover,#registrationformbuttonreg:hover,#registrationformbuttonsave:hover{
    transition: 1s;
    font-size: 40px;
}
.registrationforminput{
    border: solid white 2px;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 30px;
}
.registrationforminput:hover{
    border: solid 2px black;
}
.registrationforminputbad{
    border: 2px solid red;
    background: #faa59d;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 30px;
}
.registrationforminputbad:hover{
    border:solid red 2px;
    border-radius: 20px;
}
#registrationformbuttondiv{
    width: 100%;
    text-align: center;
}
#registrationformbuttondivsecond{
    width: 100%;
    text-align: center;
    display: flex;
}
.registrationformbuttonblock{
    width: 50%;
}
.registrationformblocks{
    width: 50%;
}
#registrationformlabelinfo{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#registrationformimage{
    margin-left: 11%;
    width: 30%;
}
#registrationforminformationIs{
    color: red;
    font-size: 20px;
}
#registrationformimg{
    width: 150px;
    height: 150px;
    margin-left: 11%;
    margin-bottom: 10px;
}
#imgregisterform{
    display: flex;
}
@media(max-width:600px){
    #registrationforminformation{
        display: block;
    }
    .registrationforminput{
        width: 80%;
    }
    .registrationformblocks{
        width: 100%;
    }
}