.topic{
    float:left;
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 7%;
    margin-top: 10px;
}
.data{
    margin-left: 5px;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    position: relative;
    top: -2px;
    height: 45px;
    border-radius: 20px;
    border:transparent;
    background: lightgray;
}
#text{
    font-size: 32px;
}
#przypomnij{
    background: transparent;
    border: none;
    font-size: 30px;
    transition: 1s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
#przypomnij:hover{
    font-size: 40px;
    transition: 1s;
}
#divPryzpomnij{
    color:white;
    font-size: 35px;
    width: 25%;
    min-width: 317px;
    text-align: center;
    margin: auto;
    margin-top: 230px;
}
#formPrzypomnij{
    border-radius: 8px;
    height: 110px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color:black;
    background: white;
}