#rentedEquipmentPane
{
    min-height: 22.5vh;
    width: 35vw;
    background-color: white;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 10vh 2.5vw 10vh 2.5vw;
    justify-content: space-between;
}
.bStyle{
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    #rentedEquipmentPane{
        width: 75vw;
    }
}