#statPane{
    height: 30vh;
    width: 40vw;
    background-color: white;
    border-radius: 10px ;
    -webkit-box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
    -moz-box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
    box-shadow: 10px 16px 16px 7px rgba(88, 9, 9, 1);
    transition: 1s;
}

#statPane:hover{
    transform: scale(1.05);
    transition: 1s;
}

@media only screen and (max-width: 800px) {
    #statPane{
        width: 80vw;
    }
}