#main{
    display: flex;
    height: 100%;
}
#teamleft{
    width: 55%;
}
#teamright{
    width:auto;
    width: 45%;
}
#widget{
    background: white;
    border: none;
    border-radius: 30px;
    margin:10px;
    display:grid;
    width: 10%;
    justify-content: center;
}