#noticesPane{
    min-height: 20vh;
    width: 40vw;
    background-color: white;
    border-radius: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#notification
{
    display: flex;
    width: 37.5vw;
    height: 15vh;
    border: 2px solid black;
    border-radius: 10px;
}
#nLeft
{
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
    height: 100% - 10px;
    width: 15%;
}
#nLeft >img{
    height: 45px;
    width: 40px;

}
#nMiddle
{
    width: 60%;
    height: 100%;
}
#nTitle
{
    font-weight: 700;
    height: 30%;
    display: flex;
    align-items: center;
}
#nMessage
{
    height: 70%;
}
#nRight
{
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100% - 10px;
    padding-top: 10px;
}

#notifBox
{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000075;
    display: flex;
    justify-content: center;
    align-items: center;
}
#notifWindow
{
    height: 350px;
    width: 400px;
    background-color: #ffffff;
    border: 10px solid black;
    border-radius: 25px;
}
#notifEditTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D32020;
    font-size: 20px;
    font-weight: 600;
    height: 15%;
}
#notifInputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nInputText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
}
#nTitleInput
{
    width: 300px;
    height: 30px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 15px;
}
#nMessageTextArea
{
    height: 80px;
    width: 300px;
    resize: none;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 15px;
}
.nEditP
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    font-weight: 600;
}
#notifButtons
{
    height: 20%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    #noticesPane{
        width: 80vw;
    }
    #notification
    {
      width: 75vw;
    }
}