#creatingform{
    display: flex;
    justify-content: center;
    align-items: center;
}
#creatingforminfo{
    background-color: white;
    width: 40vw;
    text-align: center;
}

#creatingformtitlediv{
    margin: 0px 0px 20px 0px;
}
#creatingformtitle{
    font-size: 40px;
}
.creatingformlabel{
    font-size: 30px;
    text-align: left;
}
#creatingformteamname{
    border: solid white 2px;
    background-color: rgb(198, 196, 196);
    border-radius: 20px;
    width: 50%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#creatingformteamname:hover{
    border: solid 2px black;
}
.creatingformtext{
    text-align: left;
    margin: auto;
    width: 50%;
}
#creatingformimage{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}
#createformhelp{
    height: 20px;
}
#createformimg{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
#createformbuttonlocation{
    text-align: center;
    margin-top: 10px;
    height: 3vh;
}
#createformbutton{
    border: none;
    background-color: transparent;
    color:white;
    transition: 1s;
    font-size: 3.5vh;
}
#createformbutton:hover{
    transition: 1s;
    font-size: 5vh;
}
@media(max-width:1400px){
    #creatingforminfo{
        width: 50vw;
    }
}
@media(max-width:1100px){
    #creatingforminfo{
        width: 500px;
    }
    .creatingformlabel{
        font-size: 20px;
    }
    #creatingformtitle{
        font-size: 35px;
    }
    #creatingformteamname{
        font-size: 25px;
    }
    #creatingformimage,#createformimg{
        width: 150px;
        height: 150px;
    }
}