#creatingteammain{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
    margin-right: 8%;
    width: 100%;
}
#creatingteamnavbaradmin{
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
}
#creatingteamform{
    width: 80%;
    margin-left: -10%;
    /* margin-right: 15%; */
}

@media(max-width:800px){
    #creatingteammain{
        flex-direction: column-reverse;
        align-items: center;
    }
    #creatingteamnavbaradmin{
        margin-bottom: 4%;
        margin-top: 5vh;
        margin-left: 0%;
        margin-right: 0%;
    }
    #creatingteamform{
        width: 300px;
        margin: auto;
    }
}